mixin HeaderHomeNav(hideCategoryMenu)
  - var links = [{ title: 'MRO 商城', href: '/mro' }, { icon: true, title: '办公用品', href: '/work', children: [{
  -  title: '京东超市',
  - href: '/jd',
  - }, {
  -   title: '史泰博超市',
  -   href: '/staples',
  - }, {
  -   title: '得力超市',
  -   href: '/deli',
  - }] }]

  .home-nav&attributes(attributes)
    .container.home-nav-bd(role="navigation")
      include ../../mixins/CategoryMenu/index.pug
      .home-nav-category
        if hideCategoryMenu
          +CategoryMenu(true).hide-category-menu
        else
          +CategoryMenu(false)
      .home-nav-link
        ul.home-nav-menu
          for link in links
            li.home-nav-menu-item.home-nav--dropdown
              a(href=link.href, title=link.title)
                span= link.title
                if link.icon
                  i.home-nav-menu-icon.yzwicon.yzwicon-discount
              if link.children
                ul.home-nav--dropdown__menu
                  for child in link.children
                    li.home-nav--dropdown__item
                      a(href=child.href, title=child.title)
                        | #{child.title}
    #J_HeadData(style="display: none;") [{"id":19,"name":"JD\u529E\u516C","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=19\u0026type=1","children":[{"id":23,"name":"\u529E\u516C\u6587\u5177JD","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=19,23\u0026type=1","children":[{"id":27,"name":"\u7B14","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=19,23,27\u0026type=1","children":null}]}]},{"id":20,"name":"\u7535\u68AF","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=20\u0026type=1","children":[{"id":22,"name":"\u7535\u68AF\u673A\u68B0\u914D\u4EF6","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=20,22\u0026type=1","children":null},{"id":21,"name":"\u89C2\u5149\u7535\u68AF","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=20,21\u0026type=1","children":null}]},{"id":33,"name":"joan\u4E00\u7EA7\u5206\u7C7B2","hrefUrl":"https:\/\/mall.yzw.cn\/product\/list?catId=33\u0026type=1","children":[]}]

