mixin HeaderHomeNav(hideCategoryMenu)
  - var links = [{ title: 'MRO 商城', href: '/mro' }, { title: '办公用品', href: '/work', children: [{
  -  title: '京东超市',
  - href: '/jd',
  - }, {
  -   title: '史泰博超市',
  -   href: '/staples',
  - }, {
  -   title: '得力超市',
  -   href: '/deli',
  - }] }]

  .home-nav&attributes(attributes).J_CategoryMenu
    .container.home-nav-bd(role="navigation")
      include ../../mixins/CategoryMenu/index.pug
      .home-nav-category
        if hideCategoryMenu
          +CategoryMenu(true).hide-category-menu
        else
          +CategoryMenu(false)
      .home-nav-link
        ul.home-nav-menu
          for link in links
            li.home-nav-menu-item.home-nav--dropdown
              a(href=link.href, title=link.title)
                | #{link.title}
              if link.children
                ul.home-nav--dropdown__menu
                  for child in link.children
                    li.home-nav--dropdown__item
                      a(href=child.href, title=child.title)
                        | #{child.title}


