- var banner = require('assets/image/banner.png')
- var adBanner = require('assets/image/ad-banner.png')
- var brands = [{"title":"Nike/耐克","href":"//img.alicdn.com/i2/2/TB1t.e1m2DH8KJjy1XcXXcpdXXa?abtest=&pos=1&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Philips/飞利浦","href":"//img.alicdn.com/i2/2/TB1hkk0RXXXXXXgXXXXXXXXXXXX?abtest=&pos=2&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"A21","href":"//img.alicdn.com/i2/2/TB18F9pb29TBuNjy1zbXXXpepXa?abtest=&pos=3&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"T","href":"//img.alicdn.com/i2/2/T1tzyoXnd3XXb1upjX.jpg_165x5000q100.jpg_.webp"},{"title":"belulu","href":"//img.alicdn.com/i2/2/TB1D0sLnHSYBuNjSspiXXXNzpXa?abtest=&pos=5&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Sefon/臣枫","href":"//img.alicdn.com/i2/2/TB1lL6xPVXXXXcTXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"EVE‘NY/伊芙心悦","href":"//img.alicdn.com/i2/2/TB1B.inJVXXXXcfXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SUSONGETH/首尚格释","href":"//img.alicdn.com/i2/2/TB1KFgvIVXXXXX_apXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"喜马拉雅好声音","href":"//img.alicdn.com/i2/2/TB1VcxuJVXXXXXEXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SchneiderElectric/施耐德","href":"//img.alicdn.com/i2/2/TB1ilbUHpXXXXb8XXXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"Crystaluxe","href":"//img.alicdn.com/i2/2/TB1R08RJFXXXXbFXFXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"aspire（烟具）","href":"//img.alicdn.com/i2/2/TB1iDgRJpXXXXXbXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"ENFINITAS/蓝臻","href":"//img.alicdn.com/i2/2/TB1TJNTPXXXXXcqXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"奔富酒园","href":"//img.alicdn.com/i2/2/T1X8OBXwhcXXal8NYH_!!0.JPG_165x5000q100.jpg_.webp"},{"title":"UNIVERSITYOFOXFORD","href":"//img.alicdn.com/i2/2/TB1o7kCcZyYBuNkSnfoXXcWgVXa?abtest=&pos=15&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"布朗天使","href":"//img.alicdn.com/i2/2/TB1FgqknYGYBuNjy0FoXXciBFXa?abtest=&pos=16&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Nike/耐克","href":"//img.alicdn.com/i2/2/TB1t.e1m2DH8KJjy1XcXXcpdXXa?abtest=&pos=1&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Philips/飞利浦","href":"//img.alicdn.com/i2/2/TB1hkk0RXXXXXXgXXXXXXXXXXXX?abtest=&pos=2&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"A21","href":"//img.alicdn.com/i2/2/TB18F9pb29TBuNjy1zbXXXpepXa?abtest=&pos=3&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"T","href":"//img.alicdn.com/i2/2/T1tzyoXnd3XXb1upjX.jpg_165x5000q100.jpg_.webp"},{"title":"belulu","href":"//img.alicdn.com/i2/2/TB1D0sLnHSYBuNjSspiXXXNzpXa?abtest=&pos=5&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Sefon/臣枫","href":"//img.alicdn.com/i2/2/TB1lL6xPVXXXXcTXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"EVE‘NY/伊芙心悦","href":"//img.alicdn.com/i2/2/TB1B.inJVXXXXcfXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SUSONGETH/首尚格释","href":"//img.alicdn.com/i2/2/TB1KFgvIVXXXXX_apXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"喜马拉雅好声音","href":"//img.alicdn.com/i2/2/TB1VcxuJVXXXXXEXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp","title":"SchneiderElectric/施耐德","href":"//img.alicdn.com/i2/2/TB1ilbUHpXXXXb8XXXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"Crystaluxe","href":"//img.alicdn.com/i2/2/TB1R08RJFXXXXbFXFXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"aspire（烟具）","href":"//img.alicdn.com/i2/2/TB1iDgRJpXXXXXbXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"ENFINITAS/蓝臻","href":"//img.alicdn.com/i2/2/TB1TJNTPXXXXXcqXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"奔富酒园","href":"//img.alicdn.com/i2/2/T1X8OBXwhcXXal8NYH_!!0.JPG_165x5000q100.jpg_.webp"},{"title":"UNIVERSITYOFOXFORD","href":"//img.alicdn.com/i2/2/TB1o7kCcZyYBuNkSnfoXXcWgVXa?abtest=&pos=15&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"布朗天使","href":"//img.alicdn.com/i2/2/TB1FgqknYGYBuNjy0FoXXciBFXa?abtest=&pos=16&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"}]
- var tabs = ['办公用纸','办公耗材','办公设备','办公工具','办公日杂']
include Floor.pug
include ../../mixins/GoodsCard/index.pug

.yzw-content.J_HomeContent
  include ../../mixins/OpacityBanner/index.pug
  +OpacityBanner()
  include ../../mixins/SideBar/index.pug
  +SideBar()
.container
  .office-section
    +Floor('热卖榜', '精挑细选，为您选购', 1)
    +GoodsCard(5, 1)
  .office-section
    +Floor('折扣榜', '精挑细选，为您选购', 2)
    +GoodsCard(5, 2)
  .office-section
    +Floor('品牌榜', '精挑细选，为您选购', 3)
    .brands
      .row.brand-list
        each brand, index in brands
          .col.col-3.brand-item
            .brand-item-img
              img(src=brand.href, alt=brand.title)
            a(href=`/brands/${++index}`).brand-item-mask.brand-item-link
              .brand-item-tit
                span= brand.title
              .brand-item-btn
                span 点击查看
.office-tab-container
  .office-tab-bar.J_NavFix
    .office-tab-nav.J_PageNav
      ul
        each tab , index in tabs
          li(class=`${index === 0 ? 'tab-item current' : 'tab-item'}`)
            a(href=`#floor_${index+1}`)= tab
  .container
    .office-tab-content
      each tab , index in tabs
        .tab-content(id=`floor_${index+1}`)
          .office-floor
            .floor-sign(class=`floor-sign-${index+1}`)= `F${index+1}`
            h3.title= tab
              small.desc= '全球领先.优质资源.阳光采购'
          case index
            when 1
              +GoodsCard(5, 3)
            default
              +GoodsCard(5, 4)

