mixin SearchTab()
  - var searchUrl = '/search.html' // //s.yzw.cn/search
  .search-wrap
    .search-bd
      .search-triggers
        ul.J_SearchTab.search-switchable
          li(data-type=1).search-triggers-tab.search-tab-mro.selected MRO
          li(data-type=2).search-triggers-tab.search-tab-work 办公用品
      .search-panel.J_SearchPanel
        form(action=searchUrl, target="_top", name="search")
          .search-button-wrap
            button(type="submit").search-button 搜索
          .search-panel-fields
            .search-combobox
              input(
                id="q",
                name="key",
                type="text",
                placeholder="请搜索商品名称、品牌型号、商品属性、副标题"
                aria-label="请输入搜索文字",
                autofocus,
                autocomplete="off",
                aria-haspopup="true",
                aria-combobox="list",
                role="combobox",
                tabindex="0"
              )
          input(id="type", type="hidden" name="t" value="1")
    .search-ft
      .search-hots
        .search-hots-word.J_HotWordsList
          for word in hotWords
            a(href="javascript:void(0);;") 搜索词#{word}
