- var banner = require('assets/image/banner.png')
- var adBanner = require('assets/image/ad-banner.png')
- var brands = [{"title":"Nike/耐克","href":"//img.alicdn.com/i2/2/TB1t.e1m2DH8KJjy1XcXXcpdXXa?abtest=&pos=1&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Philips/飞利浦","href":"//img.alicdn.com/i2/2/TB1hkk0RXXXXXXgXXXXXXXXXXXX?abtest=&pos=2&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"A21","href":"//img.alicdn.com/i2/2/TB18F9pb29TBuNjy1zbXXXpepXa?abtest=&pos=3&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"T","href":"//img.alicdn.com/i2/2/T1tzyoXnd3XXb1upjX.jpg_165x5000q100.jpg_.webp"},{"title":"belulu","href":"//img.alicdn.com/i2/2/TB1D0sLnHSYBuNjSspiXXXNzpXa?abtest=&pos=5&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Sefon/臣枫","href":"//img.alicdn.com/i2/2/TB1lL6xPVXXXXcTXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"EVE‘NY/伊芙心悦","href":"//img.alicdn.com/i2/2/TB1B.inJVXXXXcfXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SUSONGETH/首尚格释","href":"//img.alicdn.com/i2/2/TB1KFgvIVXXXXX_apXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"喜马拉雅好声音","href":"//img.alicdn.com/i2/2/TB1VcxuJVXXXXXEXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SchneiderElectric/施耐德","href":"//img.alicdn.com/i2/2/TB1ilbUHpXXXXb8XXXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"Crystaluxe","href":"//img.alicdn.com/i2/2/TB1R08RJFXXXXbFXFXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"aspire（烟具）","href":"//img.alicdn.com/i2/2/TB1iDgRJpXXXXXbXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"ENFINITAS/蓝臻","href":"//img.alicdn.com/i2/2/TB1TJNTPXXXXXcqXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"奔富酒园","href":"//img.alicdn.com/i2/2/T1X8OBXwhcXXal8NYH_!!0.JPG_165x5000q100.jpg_.webp"},{"title":"UNIVERSITYOFOXFORD","href":"//img.alicdn.com/i2/2/TB1o7kCcZyYBuNkSnfoXXcWgVXa?abtest=&pos=15&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"布朗天使","href":"//img.alicdn.com/i2/2/TB1FgqknYGYBuNjy0FoXXciBFXa?abtest=&pos=16&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"}]

.yzw-content.J_HomeContent
  include ../../mixins/OpacityBanner/index.pug
  +OpacityBanner()
  include ../../mixins/SideBar/index.pug
  +SideBar()
  .container
    //- .yzw-section.yzw-ad.yzw-shell.J_LazyModule(data-key="adBanner", data-template="AdBanner")
    //- .yzw-ad
      a(href="./ads/iStorage", title="云筑智能仓库").yzw-section.yzw-ad-banner
        img(src=adBanner, alt="云筑智能仓库")
    .yzw-section
      .yzw-title
        h2 企业智选
          small 精挑细选，为您选购
      .yzw-tab.yzw-shell.J_LazyModule(data-key="projectRegion", data-template="HomeTab")
        //- .J_HomeTab
          .yzw-tab-hd
            .row.yzw-tab-list
              a.col.col-8.yzw-tab-item.J_TabItem.active
                span 房建工程
              a.col.col-8.yzw-tab-item.J_TabItem
                span 公路工程
              a.col.col-8.yzw-tab-item.J_TabItem
                span 管廊/地铁工程
          .yzw-tab-bd
            include TabPanel.pug
            .yzw-tab-cont.J_TabCont.active
              +TabPanel()
            .yzw-tab-cont.J_TabCont
              +TabPanel()
            .yzw-tab-cont.J_TabCont
              +TabPanel()
    .yzw-section.yzw-promo.yzw-shell
      //- .yzw-promo-cont
        figure.yzw-promo-item
        figure.yzw-promo-item
        figure.yzw-promo-item
    .yzw-section.yzw-brands.yzw-shell.J_LazyModule(data-key="brandRegion", data-template="BrandList")
      //- .brands
        .row.brand-list
          each brand, index in brands
            .col.col-3.brand-item
              .brand-item-img
                img(src=brand.href, alt=brand.title)
              a(href=`/brands/${++index}`).brand-item-mask.brand-item-link
                .brand-item-tit
                  span= brand.title
                .brand-item-btn
                  span 点击查看
  .yzw-floors.J_Floors
    //- include ../../mixins/FloatBar/index.pug
    //- +FloatBar()
    .J_LazyModule(data-key="categoryRegion", data-template="FloorBar")
    .J_LazyModule(data-key="categoryRegion", data-template="Floor")
    //- .container
      include Floor.pug
      +Floor('劳保防护', '安全可靠更放心')
      +Floor('个人防护', '专业推荐·极速发货·品质保障')
      +Floor('仪器仪表', '专业推荐·极速发货·品质保障')
      +Floor('金属加工', '专业推荐·极速发货·品质保障')

  #J_PageData(style="display: none;") {"projectRegion":[{"id":null,"title":"builtin","description":null,"image":null,"extra":null,"children":[{"id":null,"title":"\u4E34\u5EFA\u9636\u6BB5","description":"\u9009\u5740\u5E03\u5C40\u5408\u7406\uFF0C\u7B26\u5408\u6D88\u9632\u8981\u6C42","image":"file.png","extra":null,"children":[{"id":341,"title":null,"description":null,"image":null,"extra":null,"children":null},{"id":342,"title":null,"description":null,"image":null,"extra":null,"children":null}]}]}],"brandRegion": [{"id":null,"title":null,"description":"http:\/\/yzw.cn","image":"http:\/\/image.yzw.cn\/file\/brand.png","extra":null,"children":null}],"categoryRegion":[{"id":null,"title":"\u00E5\u008A\u00B3\u00E4\u00BF\u009D\u00E9\u0098\u00B2\u00E6\u008A\u00A4","description":"\u00E5\u00AE\u0089\u00E5\u0085\u00A8\u00E5\u008F\u00AF\u00E9\u009D\u00A0\u00E6\u009B\u00B4\u00E6\u0094\u00BE\u00E5\u00BF\u0083","image":"http:\/\/image.yzw.cn\/file\/file.png","extra":null,"children":[{"id":null,"title":"\u4E34\u5EFA\u9636\u6BB5","description":"\u9009\u5740\u5E03\u5C40\u5408\u7406\uFF0C\u7B26\u5408\u6D88\u9632\u8981\u6C42","image":"file.png","extra":null,"children":null}]}],"sceneRegion":[{"id":null,"title":"Office","description":null,"image":null,"extra":null,"children":[{"id":341,"title":null,"description":"\u989C\u8272:P\u767D\u8272D\n1:q\n1:1\n\u578B\u53F7:780\n\u5F62\u72B6:\u957F\u65B9\u5F62\nad:udh\n\u5927\u5C0F:\u975E\u5E38\u5927\n\u5B57\u4F53:\u6977\u4E66\n\u554A\u554A\u554A:\u554A\u554A\n12:2\n12:3\n   12:12   \n\u5C3A\u5BF8:37\n\u9AD8\u5EA6:\u9AD8","image":"null\/mro_ware\/Original\/2019\/0301\/d5776827-f632-4314-84ef-43982eac263a.jpeg","extra":"120.0000 \u5143","children":null},{"id":341,"title":null,"description":"\u989C\u8272:P\u767D\u8272D\n1:q\n1:1\n\u578B\u53F7:780\n\u5F62\u72B6:\u957F\u65B9\u5F62\nad:udh\n\u5927\u5C0F:\u975E\u5E38\u5927\n\u5B57\u4F53:\u6977\u4E66\n\u554A\u554A\u554A:\u554A\u554A\n12:2\n12:3\n   12:12   \n\u5C3A\u5BF8:37\n\u9AD8\u5EA6:\u9AD8","image":"null\/mro_ware\/Original\/2019\/0301\/d5776827-f632-4314-84ef-43982eac263a.jpeg","extra":"120.0000 \u5143","children":null}]}]}
