- var banner = require('assets/image/banner.png')
- var adBanner = require('assets/image/ad-banner.png')
- var brands = [{"title":"Nike/耐克","href":"//img.alicdn.com/i2/2/TB1t.e1m2DH8KJjy1XcXXcpdXXa?abtest=&pos=1&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Philips/飞利浦","href":"//img.alicdn.com/i2/2/TB1hkk0RXXXXXXgXXXXXXXXXXXX?abtest=&pos=2&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"A21","href":"//img.alicdn.com/i2/2/TB18F9pb29TBuNjy1zbXXXpepXa?abtest=&pos=3&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"T","href":"//img.alicdn.com/i2/2/T1tzyoXnd3XXb1upjX.jpg_165x5000q100.jpg_.webp"},{"title":"belulu","href":"//img.alicdn.com/i2/2/TB1D0sLnHSYBuNjSspiXXXNzpXa?abtest=&pos=5&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"Sefon/臣枫","href":"//img.alicdn.com/i2/2/TB1lL6xPVXXXXcTXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"EVE‘NY/伊芙心悦","href":"//img.alicdn.com/i2/2/TB1B.inJVXXXXcfXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SUSONGETH/首尚格释","href":"//img.alicdn.com/i2/2/TB1KFgvIVXXXXX_apXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"喜马拉雅好声音","href":"//img.alicdn.com/i2/2/TB1VcxuJVXXXXXEXpXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"SchneiderElectric/施耐德","href":"//img.alicdn.com/i2/2/TB1ilbUHpXXXXb8XXXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"Crystaluxe","href":"//img.alicdn.com/i2/2/TB1R08RJFXXXXbFXFXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"aspire（烟具）","href":"//img.alicdn.com/i2/2/TB1iDgRJpXXXXXbXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"ENFINITAS/蓝臻","href":"//img.alicdn.com/i2/2/TB1TJNTPXXXXXcqXVXXSutbFXXX.jpg_165x5000q100.jpg_.webp"},{"title":"奔富酒园","href":"//img.alicdn.com/i2/2/T1X8OBXwhcXXal8NYH_!!0.JPG_165x5000q100.jpg_.webp"},{"title":"UNIVERSITYOFOXFORD","href":"//img.alicdn.com/i2/2/TB1o7kCcZyYBuNkSnfoXXcWgVXa?abtest=&pos=15&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"},{"title":"布朗天使","href":"//img.alicdn.com/i2/2/TB1FgqknYGYBuNjy0FoXXciBFXa?abtest=&pos=16&abbucket=&acm=09042.1003.1.1200415&scm=1007.13029.56634.100200300000000_165x5000q100.jpg_.webp"}]

.yzw-content
  .banner
    .container
      img(src=banner, alt="云筑电商官网")
  .container
    .yzw-section.yzw-ad-banner
      img(src=adBanner, alt="云筑智能仓库")
    .yzw-section
      .yzw-title
        h2 企业智选
          small 精挑细选，为您选购
      .yzw-tab
        .yzw-tab-hd
          ul.row.yzw-tab-list
            li.col.col-8.yzw-tab-item.active
              span 房建工程
            li.col.col-8.yzw-tab-item
              span 公路工程
            li.col.col-8.yzw-tab-item
              span 管廊/地铁工程
        .yzw-tab-bd
          .yzw-tab-cont.active
          .yzw-tab-cont
          .yzw-tab-cont
    .yzw-section.yzw-promo
      //- .yzw-promo-conte
        figure.yzw-promo-item
        figure.yzw-promo-item
        figure.yzw-promo-item
    .yzw-section.yzw-brands
      .brands
        .row.brand-list
          each brand, index in brands
            .col.col-3.brand-item
              .brand-item-img
                img(src=brand.href, alt=brand.title)
              a(href=`/brands/${++index}`).brand-item-mask.brand-item-link
                .brand-item-tit
                  span= brand.title
                .brand-item-btn
                  span 点击查看

  .yzw-floors
    .container
      //- ad-floor sections will be lazy load with itself resources
      .yzw-floor
        .yzw-title
          h2 劳保防护
            small 安全可靠更放心
        .yzw-stage
          ul.yzw-stage-list
            li.yzw-stage-item.yzw-stage-image
              figure.yzw-stage-figure
                img(src="", alt="")
                figcaption
                  if title
                    h3= title
                    if smallTitle
                    small= smallTitle
            li.yzw-stage-item
              .yzw-stage-item-top
              .yzw-stage-item-btm
            li.yzw-stage-item
              .yzw-stage-item-top
              .yzw-stage-item-btm
            li.yzw-stage-item
              .yzw-stage-item-top
              .yzw-stage-item-btm
            li.yzw-stage-item
              .yzw-stage-item-top
              .yzw-stage-item-btm
      //- .yzw-floor
      //-   .yzw-stage
      //- .yzw-floor
      //-   .yzw-stage
      //- .yzw-floor
      //-   .yzw-stage

