mixin SideBar()
  - var shoppingCartCount = 99
  - var waiting4GoodCount = 1
  - var putBack2BCount = 0
  - var waitForOrderCount = 1
  - var waitForPayCount = 11

  .side-bar.J_SideBar
    a.side-bar-item.shopping-cart
      .side-bar-icon
        i.icon.yzwfont.icon-shopping-cart
      .side-bar-text.shopping-cart-text 购物车
      if shoppingCartCount
        .side-bar-badge= shoppingCartCount
    a.side-bar-item
      .side-bar-icon
        i.icon.yzwfont.icon-daishouhuo
      .side-bar-text 待收货
      if waiting4GoodCount
        .side-bar-badge= waiting4GoodCount
    a.side-bar-item
      .side-bar-icon
        i.icon.yzwfont.icon-tuihuozhong
      .side-bar-text 退货中
      if putBack2BCount
        .side-bar-badge= putBack2BCount
    a.side-bar-item
      .side-bar-icon
        i.icon.yzwfont.icon-daijiesuan
      .side-bar-text 待结算
      if waitForOrderCount
        .side-bar-badge= waitForOrderCount
    a.side-bar-item
      .side-bar-icon
        i.icon.yzwfont.icon-daifukuan
      .side-bar-text 待付款
      if waitForPayCount
        .side-bar-badge= waitForPayCount

    a.side-bar-item.qrcode
      .side-bar-icon.J_QRCode
        i.icon.yzwfont.icon-qrcode
    a.side-bar-item.back-top.J_BackTop
      .side-bar-icon
        i.icon.yzwfont.icon-back-top

