- var placeholder = require('assets/image/placeholder.png')
- var images = [{
-   s: '//img12.360buyimg.com/n5/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
-   l: '//img12.360buyimg.com/n1/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
- }, {
-   s: '//img12.360buyimg.com/n5/jfs/t23629/227/686524404/192028/1986b839/5b3cdb07N39990ffe.jpg',
-   l: '//img12.360buyimg.com/n1/jfs/t23629/227/686524404/192028/1986b839/5b3cdb07N39990ffe.jpg',
- }, {
-   l: '//img12.360buyimg.com/n1/jfs/t22165/247/1896928691/521531/6371965e/5b3cdb09N115c836c.png',
-   s: '//img12.360buyimg.com/n5/jfs/t22165/247/1896928691/521531/6371965e/5b3cdb09N115c836c.png',
- }, {
-   l: '//img12.360buyimg.com/n1/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
-   s: '//img12.360buyimg.com/n5/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
- }, {
-   l: '//img12.360buyimg.com/n1/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
-   s: '//img12.360buyimg.com/n5/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
- }, {
-   l: '//img12.360buyimg.com/n1/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
-   s: '//img12.360buyimg.com/n5/jfs/t21964/10/1916723046/144099/f8e5eb25/5b3cdb07N6857ea76.jpg',
- }]

.preview.J_Preview#J_Preview
  .preview-bd.J_PreviewImageCurrent
    img.preview-image(data-src=[],src=placeholder, alt="placeholder", title="加载中...")
  .preview-ft
    a.preview-switcher.preview-prev.J_PreviewPrev(href="javascript:void(0);", title="上一张")
    a.preview-switcher.preview-next.J_PreviewNext(href="javascript:void(0);", title="下一张")
    .preview-items.J_PreviewImageItems
      ul.preview-items-wrap
        if images
          for image in images
            li.preview-item.J_PreviewImageItem
              img(data-origin=image.s, src=placeholder, alt=image.t, title=image.t)

