- var product = {
-  name: '海华A3F型高强度ABS安全帽 工地施工劳保透气电力工程帽 免费印字',
-  desc: '一指键帽衬，符合人体工学',
-  keywords: ['进口材料', '海华品质', '透气', '高强度', '电绝缘'],
-  taxFreePrice: 51.30,
-  price: 59.90,
-  distributionAddr: ['四川省', '成都市', '高新区', '华阳镇街道'],
-  amount: 0,
-  stock: 3980,
-  buyAdvice: '请至少购买6件该商品且购买数量为3的倍数',
-  sku: 'SSKU12314',
-  brand: '海华',
-  unit: '顶',
-  specification: ['威力', '300MM', '12寸'],
-  winBind: true,
-}
- var showOnlineService = false

.product-detail
  .pd-hd
    .pd-tit
      if product.winBind
        h3
          i.icon.yzwicon.yzwicon-bid
          = product.name
      else
        h3= product.name
    .pd-desc
      | #{product.desc}
    if product.keywords
      .pd-kw
        for keyword in product.keywords
          a(href=keyword)= keyword
          |
    .pd-price.yzwimg.yzwimg-price-background
      .pd-tax-free.clearfix
        .pd-l 除税价
        .pd-r
          span.pd-tax-free-num
            | ¥ #{product.taxFreePrice}
      .pd-one.clearfix
        .pd-l
          span.tag.tag-primary 单价
        .pd-r.pd-one-info
          span.pd-one-rmb ¥
          span.pd-one-price #{product.price}
          span.pd-one-separator /
          span.pd-one-unit #{product.unit}
    .pd-addr
      .clearfix
        .pd-l 配送至
        .pd-r
          div
            if product.distributionAddr
              include ../../mixins/Cascader/index.pug
              +Cascader(product.distributionAddr)
            a.pd-blue(href="") 查看供货区域
      .pd-addr-b.clearfix
        .pd-l
        .pd-r
          span.pd-gray 由常维工业制造商负责发货
          span.pd-orange 预计3日送达
    .pd-num.clearfix
      .clearfix
        .pd-l 采购数量
        .pd-r
          .pd-num-input
            include ../../mixins/InputNumber/index.pug
            +InputNumber(0)
            if product.stock
              span.pd-blue 智仓库存3980件
      .clearfix
        .pd-l
        .pd-r
            .pd-gray.pd-num-desc 请至少购买6件该商品且购买数量为3的倍数
      if showOnlineService
        .clearfix
          .pd-l
          .pd-r
            a(href="/onlineService",title="产品在线咨询")
              .tag.tag-ghost 产品在线咨询
  .pd-bd
    .pd-bd-row.row
      .col.col-12.clearfix
        .pd-l 商品编号
        .pd-r= product.sku
      .col.col-12.clearfix
        .pd-l 品牌
        .pd-r= product.brand
    .pd-bd-row.row
      .pd-l 规格描述
      .pd-r= product.specification.join(' ')
  .pd-ft
    a(href="").btn.btn-large.btn-ghost.btn-ghost-primary 直接购买
    a(href="").btn.btn-large.btn-primary.J_ShoppingCartBtn
      i.icon.icon-cart
      | 加入购物车

